@using BookApplication.Utility;
@model List<Book>


@if(TempData["successful"] != null)
{
    <h2 style="color:red" >@TempData["successful"]</h2>
}

<div class="container">
    <div class="row pt-4 pb-3">
        <div>
        <h1>Books</h1>

        </div>
    </div>
</div>

<table class="table table-bordered">
    <thead>
        <tr align="center" valign="middle">
        <th>Photo</th>
        <th>Id</th>
        <th>Book Name</th>
        <th>Definition</th>
            <th>Author</th>
            <th>Price</th>
            <th>Book Type</th>
    </tr>

    </thead>
    <tbody>
        @foreach(var book in Model){
            <tr align="center" valign="middle">
                <td >
                    <img src="@book.PicUrl" style="border-radius:7px;border: 1px solid #bbb9b; max-width:145px; max:275px"  />
                </td>
                <td>@book.Id</td>
                <td>@book.Name</td>
                <td>@book.Definition</td>
                <td>@book.Author</td>
                <td>@book.Price</td>
                <td>@book.BookType.Name</td>
                @if (User.IsInRole(UserRoles.Role_Admin))
                {
                <td>
                <a 
                    asp-controller="Book" 
                    asp-action="AddEdit"
                    asp-route-id="@book.Id"
                    type="button" 
                    class="btn btn-success"
                    style="width:250px; align-items='center'"
                >Edit
                </a>
                </td>
                <td>
                    <a asp-controller="Book"
                       asp-action="Delete"
                       asp-route-id="@book.Id"
                       type="button"
                       class="btn btn-danger"
                       style="width:250px">
                       Delete
                    </a>
                </td>
                }
            </tr>
        }
    </tbody>

</table>
@if (User.IsInRole(UserRoles.Role_Admin))
{    
<div class="row pt-3 pb-2">
    <div>
        <a asp-controller="Book" asp-action="AddEdit" class="btn btn-lg btn-primary" type="button">Create New Book</a>
    </div>
</div>
}